<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <style>
        body{
            overflow-x: hidden;
        }
        aside{
            display: inline-block;
            float:left;
        }
        .card{
            padding: 0.5em;
            overflow: auto;
        }
        .mycard{
            padding: 0;
            margin: 0.5em 0;
        }
        .mycontainer{
            height: auto;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .card a{
            color: #212529;
        }
        .card ul li{
            list-style-type: none;
        }
        .card a:hover{
            color: blue;
        }
        .card a:link {
            text-decoration: none;
        }
    </style>

    <script>
        window.onload = function() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Cases Representation"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0",
                indexLabel: "{label} {y}",
                dataPoints: [
                    {y: {{ assesedNo }}, label: "Assesed Cases:"},
                    {y: {{ progressNo }}, label: "Cases in Process:"},
                    {y: {{ newNo }}, label: "New/Pending Cases:"},
                ]
            }]
        });
        chart.render();
        
        }
    </script>     
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>   
<body>
    {% include "navbar.html" %}   
        <aside>
            <div class="card">            
                <b>User:</b> {{user}}
                <strong>Total Number of Cases:</strong> {{newNo|add:progressNo|add:assesedNo}}
                <strong>Pending Cases:</strong> {{newNo}}
                <strong>In Process Cases:</strong> {{progressNo}}
                <strong>Accepted Cases:</strong> {{assesedNo}}
            </div>
        </aside>
        <div class="row justify-content-around">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="mycontainer">
            <div class="row justify-content-around">
                <div class="col-lg-4">
                    <div class="card mycard">
                        <div class="card-header">
                            Cases Assessed
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for i,j,e in assessed_id_list %}
                                <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                <span class="text-muted">{{e}}</span></li></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">
                        <div class="card-header">
                            Cases In Process
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for i,j,e in progress_id_list %}
                                <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                <span class="text-muted">{{e}}</span></li></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">
                        <div class="card-header">
                            New/Pending Cases
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for i,j,e in pending_id_list %}
                                <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                <span class="text-muted">{{e}}</span></li></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% include "footer.html" %}
    <script>
        $(document).ready(function(e) {
            window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
            });
        });
    </script>
</body>
</html>