<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{% static "styles/paidBribe.css" %}" >
    <style>
        .userinfo {
            padding-top: 25px;
            background-color: rgba(253, 219, 27, 0.288);
        }
        .transbox{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(92, 82, 100, 0.192);
  padding: 5px;
}


  
    </style>
    
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>   
<body >
    {% include "navbar.html" %}
    {% include "card1.html" %}
       
        <div class="card">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="card chartcard">
                            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            {% comment %} <div id="chartContainer" style="height: auto; width: auto;"></div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card chartcard">
                            <div id="chartContainerState" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card chartcard">
                            <div id="chartContainerTime" style="height: 300px; width: 100%;"></div>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="pills-home" aria-selected="true">Cases Accepted</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#menu1" role="tab" aria-controls="pills-profile" aria-selected="false">Cases In Process</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#menu2" role="tab" aria-controls="pills-contact" aria-selected="false">New/Pending Cases</a>
                  </li>
                </ul>
              <!--   <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                  </div> -->
              
                


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" style="background-color: #45a29e;" data-target="#exampleModal">
    FILTER
  </button> -->
  
  <!-- Modal -->
 <!--  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">FILTER</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="transbox">
                <form id="f1">
                    <div class="container modal-form">
    
                        <div class="row">
                            <label>CATEGORY: </label>
                            <div class="col-12 ">
                                <input type="text" class="input inputExpand" placeholder="   Category">
                            </div>
                        </div>
                        <div class="row">
                            <label >CITY: </label>
                            <div class="col-12 ">
                                <input class="input" placeholder="   CITY">
                            </div>
                        </div>
                        <div class="row">
                            <label >SORT BY: </label>
                            <div class="col-12 ">
                                <input class="input" placeholder="   LATEST/OLDEST">
                            </div>
                        </div>
                        <br>
                    </div>
                </form> 
            </div>
            
          


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">APPLY FILTERS</button>
        </div>
      </div>
    </div>
  </div> -->



  <div class="tab-content">
                  <div id="home" class="tab-pane fade">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="card-header">
                                <b>Cases Assessed</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for i,j,e in accepted %}
                                    <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                    <span class="text-muted">{{e}}</span></li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="card-header">
                                <b>Cases In Process</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for i,j,e in inprocess %}
                                    <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                    <span class="text-muted">{{e}}</span></li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div id="menu2" class="tab-pane fade show active">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="card-header">
                                <b>New/Pending Cases</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for i,j,e in pending %}
                                    <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                    <span class="text-muted">{{e}}</span></li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>



        </div>
    {% include "footer.html" %}

    <script>
        $(document).ready(function(){
          $(".nav-tabs a").click(function(){
            $(this).tab('show');
          });
        });
        </script>
    
    <script>
        $(document).ready(function(e) {
            window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
            });
        });
    </script>


    <script>
        function drawGraphPie() {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                exportFileName: "Bribe Status Categorized Reports",  //Give any name accordingly
		        exportEnabled: true,
                title: {
                    text: "Status Categorized Reports"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                        {y: {{ accepted_cases }}, label: "Accepted Cases:"},
                        {y: {{ inprocess_cases }}, label: "Cases in Process:"},
                        {y: {{ pending_cases }}, label: "Pending/New Cases:"},
                    ]
                }]
            });
            chart.render();
        }
    </script>
    <script>
        function drawGraphTime() {
            var chart = new CanvasJS.Chart("chartContainerTime", {
                animationEnabled: true,
                zoomEnabled: true,
                zoomType: "x",
                exportFileName: "Bribe TimeLine Of Report Arrival",  //Give any name accordingly
		        exportEnabled: true,
                title: {
                    text: "TimeLine Of Report Arrival"
                },
                data: [{
                    type: "spline",
                    dataPoints: [
                        {% for date, value in dates.items %}
                            {x:new Date("{{date}}"), y: {{ value }} },
                        {% endfor %}
                    ]
                }]
            });
            chart.render();
        }
    </script> 
    <script>
        function drawGraphState() {
            graphData = []
            for (item in stateCount) {
                // console.log(item)
                graphData.push({y : stateCount[item], label:item});
            }
            console.log(graphData)
            var chart = new CanvasJS.Chart("chartContainerState",
            {
            animationEnabled: true,
            animationDuration: 2000,
            exportFileName: "Bribe State Categorized Reports",  //Give any name accordingly
		    exportEnabled: true,
            title:{
                text: "State Categorized Reports"
            },
            data: [

            {
                dataPoints: graphData
            }
            ]
            });
            chart.render();
            setTimeout(drawGraphPie, 100);
            setTimeout(drawGraphTime, 100);

        }
    </script>
    <script>
    states = "{{states|escapejs}}"
    states = states.replace(/[^0-9,A-z]/g, '');
    states = states.slice(1,states.length-1).split(",")
    console.log(states)
    stateCount = {}
    for (i=0; i<states.length; i++) {
        let name = states[i];
        name = name.toLowerCase().trim();
        let temp = name.split(" ");
        name = ""
        for (let i=0; i<temp.length; i++) {
            if(i != 0) {
                name += " ";
            }
            name += temp[i][0].toUpperCase() + temp[i].slice(1,temp[i].length);
        }
        if(stateCount.hasOwnProperty(name)) {
            stateCount[name] += 1
        }
        else {
            stateCount[name] = 1;
        }
    }    
    drawGraphState();
    </script>
</body>
</html>

