<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}

<body>
    {% load static %}
    <link rel="stylesheet" href="{% static "css\login.css" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="{% url 'login'%}">
        <img src="{% static "images/bprd.png" %}" width="400" height="50" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>
    <div class="row">
        <div class="col-md-10 m-auto">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form action="register" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <h5 class="card-title" for="Name">Name</h5>
                            <div class = "row">
                                <div class='col-md-4'>
                                    <input name="first" type="text" class="form-control" id="first_name" placeholder="First Name" aria-describedby="name" title="Field cannont be empty" pattern=".{1,}">
                                </div>
                                <div class='col-md-4'>
                                    <input name="mid" type="text" class="form-control" id="middle_name" placeholder="Middle Name" aria-describedby="name">
                                </div>                                
                                <div class='col-md-4'>
                                    <input name="last" type="text" class="form-control" id="last_name" placeholder="Last Name" aria-describedby="name" title="Field cannont be empty" pattern=".{1,}">
                                </div>
                            </div>
                        </div>                
                        <div class="form-group">
                            <h5 class="card-title" for="Gender">Gender</h5>
                            <div class="row">
                                <div class='col-m-4'>
                                    <label style="padding-left:15px" for="male">Male</label>
                                    <input type="radio" id="male" name="gender" value="Male">
                                </div>
                                <div class='col-m-4'>
                                    <label style="padding-left:15px" for="male">Female</lable>
                                    <input type="radio" id="female" name="gender" value="Female">
                                </div>
                                <div class='col-m-4'>
                                    <label style="padding-left:15px" for="male">Other</lable>
                                    <input type="radio" id="other_gender" name="gender" value="Other">
                                </div>                                                                 
                            </div>
                        </div>                    
                        <div class="form-group">
                            <div class='row'>
                                <div class='col-lg-6'>    
                                    <h5 class="card-title" for="exampleInputEmail1">Phone Number</h5>
                                    <input type="number" class="form-control" name="phone" aria-describedby="phone number" pattern="\d{10}">
                                </div>
                                <div class='col-lg-6'>
                                    <h5 class="card-title" for="exampleInputEmail1">Email</h5>
                                    <input type="email" class="form-control" name="email" aria-describedby="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='row'>
                                <div class='col-lg-6'>
                                    <h5 class="card-title" for="PASSWORD">Password</h5>
                                    <input type="password" class="form-control" name="password" pattern=".{6,}" title="Password should contain atleast 6 characters">
                                </div>
                                {% comment %} <div class="form-group"> {% endcomment %}
                                <div class='col-lg-6'>
                                    <h5 class="card-title" for="Password_confirm">Re-enter Password</h5>
                                    <input type="password" class="form-control" name="password_confirm" pattern=".{6,}">
                                </div>
                            </div>                        
                        </div>
                        <div class='form-group'>
                            <div class='row'>
                                <div class='col-lg-12'>
                                    <h5 class="card-title" for="Address">Address</h5>
                                    <input type="text" class="form-control" name="address1" placeholder="Address line 1." pattern=".{1,}" title="Field cannont be empty"><br>
                                    <input type="text" class="form-control" name="address2" placeholder="Address line 2." pattern=".{1,}" title="Field cannont be empty"><br>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-lg-4'>
                                    <h7 class="card-title" for="Pincode">Pincode</h7>
                                    <input type="text" class="form-control" name="pincode" placeholder="Eg. 400001" pattern="\d{6}" title="Enter a 6 digit pin code">
                                </div>
                                <div class='col-lg-4'>
                                    <h7 class="card-title" for="City">City</h7>
                                    <input type="text" class="form-control" name="city" placeholder="Eg. Mumbai" pattern=".{1,}">
                                </div>
                                <div class='col-lg-4'>
                                    <h7 class="card-title" for="State">State</h7>
                                    <input type="text" class="form-control" name="state" placeholder="Eg. Maharashtra" pattern=".{3,}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='row'>
                                <div class='col-lg-6'>
                                    <h5 class="card-title" for="id_type">Select I.D. Type</h5>
                                    <input class="form-control" list="I.D. Type" name="id-type" placeholder='Eg. Aadhaar'>
                                    <datalist id="I.D. Type">
                                        <option value="Aadhaar">
                                        <option value="Indian passport">
                                        <option value="Electoral Photo Identity Card (EPIC)">
                                        <option value="Permanent Account Number (PAN) card ">
                                        <option value="Driving License">
                                        {% comment %} <option value="">
                                        <option value="">
                                        <option value=""> {% endcomment %}
                                    </datalist>
                                </div>
                                <div class='col-lg-6'>
                                    <h5 class="card-title" for="id_proof">Attatch I.D. Proof</h5>
                                    <div>
                                        <label for="myfile">Select files:</label>
                                        <input type="file" id="myfile" name="myfile" multiple>
                                    </div>
                                </div> 
                            </div>                       
                        </div>
                        <button type="submit" class="btn btn-primary active">Register</button>
                        <a class="btn btn-secondary active" href="{% url 'login'%}">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>