<!DOCTYPE html>
{% load getkey %}
{% load static %}
<html lang="en">
    {% include "header.html" %}
    <link rel="stylesheet" href="{% static "styles/card.css" %}" >
    <style>
        .card{
            padding: 0.6em;
            overflow: auto;
        }
        .userinfo {
            padding-top: 25px;
        }
        .mycard{
            padding: 0 0.5em;
            margin: 0.5em 0;
        }
        .card-header{
            padding: 0.3em 0.5em; 
  
        }
        .mycontainer{
            margin-bottom: 40px;
        }
    </style>
<body>
    {% include "navbar.html" %}
        <aside>
            <div class="card userinfo">             
                <b>User:</b> {{user}}
            </div>
        </aside>
        <div class="mycontainer">
            <div class="row justify-content-around">
                <div class="col-lg-4">
                    <div class="card mycard">
                       Category: <b>{{ data|getkey:"category" }}</b>                                  
                    </div>
                </div>  
                <div class="col-lg-4">
                    <div class="card mycard">
                        Date of Incident: <b>{{ data|getkey:"date" }}</b>       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">
                        Date of Filing: <b>{{ data|getkey:"Date of Filing" }}</b>                                  
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-lg-6">
                    <div class="card mycard">                       
                        Official: <b>{{ data|getkey:"Official" }}</b>                      
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mycard">                       
                        Status: <b>{{ data|getkey:"Status" }}</b>                      
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-lg">
                    <div class="card mycard">
                        <div class="card-header text-light bg-dark">
                            Details of Incident
                        </div>
                        <b>{{ data|getkey:"details" }}</b>      
                    </div>
                </div>
            </div>
            {% comment %} <div class="row justify-content-around">
                <div class="col-lg">
                    <div class="card mycard">
                        <div class="card-header text-light bg-dark">
                            Details of Suspect
                        </div>
                        {{ data|getkey:"Details of Suspect" }}       
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="row justify-content-around">
                <div class="col-lg-4">
                    <div class="card mycard">
                        ID: <b>{{ data|getkey:"id" }}</b>       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">
                       Email: <b>{{ data|getkey:"email" }}</b>                                  
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">
                       Contact: <b>{{ data|getkey:"contact" }}</b>                                  
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-lg-6">
                    <div class="card mycard">
                       Address Line 1: <b>{{ data|getkey:"address1" }}</b>  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mycard">                       
                        Address Line 2: <b>{{ data|getkey:"address2" }}</b>           
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-lg-4">
                    <div class="card mycard">
                        City: <b>{{ data|getkey:"city" }}</b>       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">                       
                        Pin code: <b>{{ data|getkey:"pincode" }}</b>                      
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mycard">
                        State: <b>{{ data|getkey:"state" }}</b>                                 
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <form action="{% url "details" category=metadata|getkey:"category" user=metadata|getkey:"user" uid=metadata|getkey:"uid" case_id=metadata|getkey:"case_id" %}" method="GET">
                    {% if data|getkey:"Status" != "Accepted" %}
                    <button type="submit" name="accept" class="btn btn-success" style="margin-right:5px" value="accpt">Accept</button>
                    {% endif %}  
                    <button type="submit" name="delete" class="btn btn-danger" style="margin-right:5px" value="del">Delete</button>
                    <button type="submit" name="evid" class="btn btn-info" value="evidence">View Evidence</button>
                </form>
            </div>
        </div>
    {% include "footer.html" %}
</body>
</html>