<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{% static "styles/card.css" %}" >
<style>
    .nav-link{
        color: black;
    }
</style>
    <script>
        window.onload = function() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Cases Representaion"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0",
                indexLabel: "{label} {y}",
                dataPoints: [
                    {y: {{ accepted_cases }}, label: "Accepted Cases:"},
                    {y: {{ inprocess_cases }}, label: "Cases in Process:"},
                    {y: {{ pending_cases }}, label: "Pending/New Cases:"},
                ]
            }]
        });
        chart.render();
        
        }
    </script> 
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>   
<body>
    {% include "navbar.html" %}
    {% include "card1.html" %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card chartcard">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="container">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="pills-home" aria-selected="true">Cases Accepted</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#menu1" role="tab" aria-controls="pills-profile" aria-selected="false">Cases In Process</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#menu2" role="tab" aria-controls="pills-contact" aria-selected="false">New/Pending Cases</a>
                  </li>
                </ul>
                
                <div class="tab-content">
                  <div id="home" class="tab-pane fade">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="card-header">
                                <b>Cases Accepted</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for i,j,e in accepted %}
                                    <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                    <span class="text-muted">{{e}}</span></li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="card-header">
                                <b>Cases In Process</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for i,j,e in inprocess %}
                                    <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                    <span class="text-muted">{{e}}</span></li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="card-header">
                                <b>New/Pending Cases</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for i,j,e in pending %}
                                    <a href="{% url "details" category=category user=user uid=j case_id=i %}" class="list-group-item"><li>{{i}}<br>
                                    <span class="text-muted">{{e}}</span></li></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    {% include "footer.html" %}
    <script>
        $(document).ready(function(e) {
            window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
            });
        });
    </script>
</body>
</html>