*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.userinfo{
    height: 100vh;
    position: fixed;
    border-radius: 0px; 
    z-index: -1;
    /* background-image:linear-gradient(to right, #fe8c00 95%, #f83600 5%) !important; */
}

.chartcard{
    margin: 0.5em 0;
}

.mycontainer{
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top:76px;
    margin-left: 225px;  
}

.logo{
    color: rgb(245, 240, 240);
    letter-spacing: 2px;
    font-size: 22px;
}


.footer-font{
    color: white !important;    
}
hr{
    border-color: white !important  
}